<h2>{{ 'user.title' | translate }}:</h2>

<form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm)" *ngIf="userData && userData.role !== 'user'">

  <mat-tab-group mat-stretch-tabs>

    <mat-tab label="{{ 'user.config' | translate }}">
      <section class="tab-content">
        <app-email-input [parentForm]="userForm" [value]="[userData.email, 'disabled']"></app-email-input>

        <section class="role-language">
          <app-adaptive-field [parentForm]="userForm" [settingsField]="['role', 'disabled']"
            [value]="userData.role | translate">
          </app-adaptive-field>
          <app-autocomplete-field [parentForm]="userForm" [settingsField]="['language', ['es', 'en'], 'required']"
            [value]="userData.language">
          </app-autocomplete-field>
        </section>
        <app-autocomplete-field [parentForm]="userForm" [settingsField]="['sport', ['soccer'], 'required']"
          [value]="userData.sport">
        </app-autocomplete-field>

        <button mat-button color="primary" type="button" name="scout-button1"
          *ngIf="userData && userData.role === 'scout'" (click)="goPlayerProfile()">
          {{ 'user.scoutButton1' | translate }}
        </button>
        <button mat-button color="primary" type="button" name="scout-button2"
          *ngIf="userData && userData.role === 'scout'" (click)="addVideosPlayer()">
          {{ 'user.scoutButton2' | translate }}
        </button>
        <button mat-button color="primary" type="button" name="team-button1"
          *ngIf="userData && userData.role === 'team'">
          {{ 'user.teamButton1' | translate }}
        </button>
        <button mat-button color="primary" type="button" name="team-button2"
          *ngIf="userData && userData.role === 'team'">
          {{ 'user.teamButton2' | translate }}
        </button>
      </section>
    </mat-tab>

    <mat-tab label="{{ 'user.profile' | translate }}">
      <section class="tab-content">
        <app-adaptive-field [parentForm]="userForm" [settingsField]="['fullName', 'length(5,30)']"
          [value]="userData.profile.fullName">
        </app-adaptive-field>
        <app-adaptive-field [parentForm]="userForm" [settingsField]="['document', 'length(5,15)']"
          [value]="userData.profile.document">
        </app-adaptive-field>
        <app-adaptive-field [parentForm]="userForm" [settingsField]="['address1', 'length(5,30)']"
          [value]="userData.profile.address1">
        </app-adaptive-field>
        <app-adaptive-field [parentForm]="userForm" [settingsField]="['address2', 'length(5,30)']"
          [value]="userData.profile.address2">
        </app-adaptive-field>
        <section class="city-country">
          <app-adaptive-field [parentForm]="userForm" [settingsField]="['city', 'length(3,15)']"
            [value]="userData.profile.city">
          </app-adaptive-field>
          <app-autocomplete-field [parentForm]="userForm"
            [settingsField]="['country', ['', 'spain', 'portugal', 'france']]" [value]="userData.profile.country">
          </app-autocomplete-field>
        </section>
      </section>
    </mat-tab>

    <mat-tab label="{{ 'user.contact' | translate }}">
      <section class="tab-content">
        <app-adaptive-field [parentForm]="userForm" [settingsField]="['phone', 'length(6,15)']"
          [value]="userData.contact.phone">
        </app-adaptive-field>
        <app-adaptive-field [parentForm]="userForm" [settingsField]="['mobile', 'length(6,15)']"
          [value]="userData.contact.mobile">
        </app-adaptive-field>
        <app-adaptive-field [parentForm]="userForm"
          [settingsField]="['contactEmail', 'pattern(([a-zA-Z0-9_.-])+@(([a-zA-Z0-9-])+.)+([a-zA-Z0-9]{2,4})+)']"
          [value]="userData.contact.email">
        </app-adaptive-field>
        <app-adaptive-field [parentForm]="userForm" [settingsField]="['other', 'length(6,30)']"
          [value]="userData.contact.other">
        </app-adaptive-field>
      </section>
    </mat-tab>

  </mat-tab-group>


  <button mat-raised-button color="primary" type="submit" name="user-button">
    {{ 'user.submit' | translate }}
  </button>

</form>


<section class="select-role" *ngIf="userData && userData.role === 'user'">
  <h3>{{ 'user.select' | translate }}</h3>

  <p>{{ 'user.scout_info' | translate }}</p>

  <button mat-raised-button color="primary" type="button" name="scout-button" (click)="becomeAgent()">
    {{ 'user.scout' | translate }}
  </button>

  <p>{{ 'user.team_info' | translate }}</p>

  <button mat-raised-button color="primary" type="button" name="team-button" (click)="becomeTeam()">
    {{ 'user.team' | translate }}
  </button>

  <p><small>{{ 'user.warning' | translate }}</small></p>

</section>
