mat-toolbar {
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1rem;
  margin: 0;
  max-height: 5vh;
  img {
    justify-self: center;
    align-self: center;
    height: 1rem;
  }
}

