<form [formGroup]="parentForm" class="form-group">


  <mat-form-field formGroupName="password">
    <input matInput type="password" placeholder="{{ 'formFields.password' | translate }}" class="form-control"
      formControlName="password">
    <mat-error
      *ngIf="passwordForm.get('password').hasError('passwordNoPattern') && !passwordForm.get('password').hasError('required')">
      {{ 'formFields.passwordErrorPattern' | translate }}
    </mat-error>
    <mat-error *ngIf="passwordForm.get('password').hasError('required')">
      {{ 'formFields.errorRequired' | translate }}
    </mat-error>
  </mat-form-field>

</form>
