<form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">

  <app-email-input class="group" [parentForm]="loginForm"></app-email-input>

  <app-password-input class="group" [parentForm]="loginForm"></app-password-input>


  <button mat-raised-button color="primary" type="submit" name="login-button">
    {{ 'auth.login.submit' | translate }}
  </button>

  <button mat-button color="primary" type="button" (click)="resetPassword()" name="reset-button">
    {{ 'auth.login.resetPassword' | translate }}
  </button>

  <button mat-button color="primary" type="button" (click)="resendEmailActivation()" name="resend-button">
    {{ 'auth.login.resendEmailActivation' | translate }}
  </button>

</form>
