<form [formGroup]="loginForm" (ngSubmit)="login()">

  <mat-form-field class="group">
    <input matInput type="text" placeholder="{{ 'auth.form_email' | translate }}" name="login-email"
      class="form-control" formControlName="email">
    <mat-error
      *ngIf="loginForm.get('email').hasError('emailNoPattern') && !loginForm.get('email').hasError('required')">
      {{ 'auth.form_error_email_patern' | translate }}
    </mat-error>
    <mat-error *ngIf="loginForm.get('email').hasError('required')">
      {{ 'auth.form_error_required' | translate }}
    </mat-error>
  </mat-form-field>


  <mat-form-field class="group">
    <input matInput type="password" placeholder="{{ 'auth.form_password' | translate }}" name="login-password"
      class="form-control" formControlName="password">
    <mat-error
      *ngIf="loginForm.get('password').hasError('passwordNoPattern') && !loginForm.get('password').hasError('required')">
      {{ 'auth.form_error_password_patern' | translate }}
    </mat-error>
    <mat-error *ngIf="loginForm.get('password').hasError('required')">
      {{ 'auth.form_error_required' | translate }}
    </mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" name="login-button">
    {{ 'auth.form_button_login' | translate }}
  </button>

  <button mat-button color="primary" type="button" (click)="resetPassword()" name="reset-button">
    {{ 'auth.form_forget_password' | translate }}
  </button>

  <button mat-button color="primary" type="button" (click)="resendEmailActivation()" name="resend-button">
    {{ 'auth.form_resend_email' | translate }}
  </button>

</form>
