<form [formGroup]="parentForm" class="form-group">


  <mat-form-field formGroupName="password">
    <input matInput placeholder="{{ 'formFields.password' | translate }}" type="password" name="register-password"
      class="form-control" formControlName="password">
    <mat-error
      *ngIf="passwordForm.get('password').hasError('passwordNoPattern') && !passwordForm.get('password').hasError('required')">
      {{ 'formFields.passwordErrorPattern' | translate }}
    </mat-error>
    <mat-error *ngIf="passwordForm.get('password').hasError('required')">
      {{ 'formFields.errorRequired' | translate }}
    </mat-error>
  </mat-form-field>

  <mat-form-field formGroupName="password" class="confirmPassword">
    <input matInput placeholder="{{ 'formFields.confirmPassword' | translate }}" type="password"
      name="register-confirmPassword" class="form-control" formControlName="confirmPassword">
    <mat-error *ngIf="passwordForm?.hasError('passwordMismatch')">
      {{ 'formFields.passwordErrorNoMatch' | translate }}
    </mat-error>
    <mat-error
      *ngIf="passwordForm.get('confirmPassword').hasError('passwordNoPattern') && !passwordForm.get('confirmPassword').hasError('required') && !passwordForm?.hasError('passwordMismatch')">
      {{ 'formFields.passwordErrorPattern' | translate }}
    </mat-error>
    <mat-error
      *ngIf="passwordForm.get('confirmPassword').hasError('required') && !passwordForm?.hasError('passwordMismatch')">
      {{ 'formFields.errorRequired' | translate }}
    </mat-error>
  </mat-form-field>

</form>
