<section class="search">

  <form [formGroup]="searchForm">
    <i class="material-icons" (click)="prevPage()"> arrow_left </i>
    <mat-form-field>
      <input matInput type="text" placeholder="{{'youtube.input' | translate}}" class="form-control"
        formControlName="search">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="searchYoutube()">{{ 'youtube.button' | translate}}</button>
    <i class="material-icons" (click)="nextPage()"> arrow_right </i>
  </form>

</section>



<section class="content">
  <ng-container *ngFor="let video of videos">

    <mat-card class="complete-card">
      <mat-card-header class="header-card">
        <mat-card-title><small>{{video.title}}</small></mat-card-title>
        <mat-card-subtitle>
          <span><i class="material-icons">
              visibility </i>{{video.viewCount | number }}</span>
          <span><i class="material-icons">
              thumb_up </i>{{video.likeCount}}</span>
        </mat-card-subtitle>
      </mat-card-header>
      <div class="embed-container">
        <iframe [src]='getSantizeUrl(video.id)' frameborder="0" allowfullscreen></iframe>
      </div>

      <mat-card-actions>
        <a><small>{{ video.publishedAt | date }}</small></a>
        <button mat-button color="primary" type="button" (click)="addVideo(video)">
          {{ 'youtube.add' | translate }}
        </button>
      </mat-card-actions>
    </mat-card>

  </ng-container>
</section>
