<form [formGroup]="parentForm" class="form-group">

  <mat-form-field appearance="legacy" formGroupName="{{nameField}}">
    <mat-select placeholder="{{ translateNameField | translate }}" class="form-control" formControlName="{{nameField}}"
      multiple *ngIf="multiple">
      <mat-option *ngFor="let option of settingsField[1]" [value]="option">
        {{option | translate}}
      </mat-option>
    </mat-select>
    <mat-select placeholder="{{ translateNameField | translate }}" class="form-control" formControlName="{{nameField}}"
      *ngIf="!multiple">
      <mat-option *ngFor="let option of settingsField[1]" [value]="option">
        {{option | translate}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="(formGroup.get(nameField).hasError('min') ||
        formGroup.get(nameField).hasError('max')) &&
        !formGroup.get(nameField).hasError('required')">
      {{ 'formFields.range' | translate }}[ {{min}}, {{max}} ]
    </mat-error>
    <mat-error *ngIf="(formGroup.get(nameField).hasError('minlength') ||
      formGroup.get(nameField).hasError('maxlength')) &&
      !formGroup.get(nameField).hasError('required')">
      {{ 'formFields.length' | translate }}[ {{min}}, {{max}} ]
    </mat-error>
    <mat-error *ngIf="formGroup.get(nameField).hasError('pattern') &&
      !formGroup.get(nameField).hasError('required')">
      {{ 'formFields.pattern' | translate }}
    </mat-error>
    <mat-error *ngIf="formGroup.get(nameField).hasError('required')">
      {{ 'formFields.errorRequired' | translate }}
    </mat-error>

  </mat-form-field>

</form>